<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <title>Ifruit</title>
</head>
<body>
    <div class="nav-bar">
        <ul>
            <li>
                <a href="ibigo">
                    <span><ion-icon name="phone-portrait-outline"></ion-icon></span>
                </a>
            </li>
            <li>
                <a href="fruitbook">
                    <span><ion-icon name="laptop-outline"></ion-icon></span>
                </a>
            </li>
            <li>
                <a href="isuperordi">
                    <span><ion-icon name="desktop-outline"></ion-icon></span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span>
                        <img src="{{ asset('images/logo.png') }}" alt="Ifruit" class="logo">
                    </span>
                </a>
            </li>
            <li>
                <a href="imontre">
                    <span><ion-icon name="watch-outline"></ion-icon></span>
                </a>
            </li>
            <li>
                <a href="ibigbigo">
                    <span><ion-icon name="tablet-landscape-outline"></ion-icon></span>
                </a>
            </li>
            <li>
                <a href="iecouteur">
                    <span><ion-icon name="musical-notes-outline"></ion-icon></span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
